body {
    background-color: #101010;
}


#mixtape {
    color: white;
    position: absolute;
    left: 1024px;
    top: 0px;
    width: 820px;
    heighty: 768;
}

#heading {
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
}


#now_playing {
    width: 295px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
